{% extends "base.html" %}
{% block content %}
	<h2 align="center"> Works log </h2>
	{% if current_user.is_authenticated %}
		<p>
			<a type="button" href="/job/add/" class="btn btn-secondary"> Add job </a>
		</p>
	{% endif %}
	{% for work in works_list %}
		<p>
			<h3> Action # {{ loop.index }} </h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="table-secondary"> Title of activity </th>
						<th scope="col" class="table-secondary"> Team leader </th>
						<th scope="col" class="table-secondary"> Duration </th>
						<th scope="col" class="table-secondary"> List of collaborators </th>
						<th scope="col" class="table-secondary"> Is finished </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-primary"> {{ work.job }} </th>
						<th class="table-primary"> {{ fullname(work) }} </th>
						<th class="table-primary"> {{ work.work_size }} hours </th>
						<th class="table-primary"> {{ work.collaborators }} </th>
						{% if work.is_finished %}
							<th class="table-success"> Is finished </th>
						{% else %}
							<th class="table-danger"> Is not finished </th>
						{% endif %}
					</tr>
				</tbody>
			</table>
			{% if current_user.id in [work.team_leader, 1] %}
				<div>
					<a type="button" class="btn btn-warning" href="/job/edit/{{ work.id }}"> Edit job </a>
					<a type="button" class="btn btn-danger" href="/job/edit/{{ work.id }}"> Delete job </a>
				</div>
			{% endif %}
		</p>
	{% endfor %}
{% endblock %}
