{% extends "base.html" %}
{% block content %}
	<h2> Works log </h2>
	{% for work in works_list %}
		<p>
			<h3> Action # {{ loop.index }} </h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col"> Title of activity </th>
						<th scope="col"> Team leader </th>
						<th scope="col"> Duration </th>
						<th scope="col"> List of collaborators </th>
						<th scope="col"> Is finished </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-primary"> {{ work.job }} </th>
						<th class="table-primary"> {{ fullname(work) }} </th>
						<th class="table-primary"> {{ work.work_size }} hours </th>
						<th class="table-primary"> {{ work.collaborators }} </th>
						{% if work.is_finished %}
							<th class="table-success"> Is finished </th>
						{% else %}
							<th class="table-danger"> Is not finished </th>
						{% endif %}
					</tr>
				</tbody>
			</table>
		</p>
	{% endfor %}
{% endblock %}
